---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html {
  font: 400 16px/26px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

pre {
  padding: 0;
  background: none;
  font: 14px/19px Consolas,monospace,serif;
  color: initial;
  border: 0;
}

.blog-list {
  h2 {
    margin: 0px;
  }
}

.text-weak {
  color: #828282;
}

pre.nohighlight {
  padding: 10px;
  background: none repeat scroll 0% 0% #FAFAFA;
  color: #444;
  -moz-tab-size: 4;
  overflow: auto;
  border: 1px solid #DDD;
  border-radius: 3px;
}
