---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html {
  font: 400 16px/26px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

pre {
  font: 14px/19px Consolas,monospace,serif;
}

.blog-list {
  h2 {
    margin: 0px;
  }
}

.text-weak {
  color: #828282;
}
