<div class="uk-margin-large-top">
  <hr class="uk-divider-icon">
  <div uk-grid>
    <div>
      <h2>{{ site.title }}</h2>
    </div>

    <div>
      <a href="https://github.com/{{ site.github_username }}" uk-icon="icon: github"></a>
      <a href="https://twitter.com/{{ site.twitter_username }}" uk-icon="icon: twitter"></a>
      <a href="https://www.youtube.com/channel/UC_4HH7aQmL8GNhyV6RWro9Q" uk-icon="icon: youtube"></a>
    </div>

    <div>
      <p>{{ site.description }}</p>
    </div>
  </div>
</div>
