
<div class="uk-margin-large-top">

  <hr>
  <div class="uk-grid">
    <div class="uk-width-medium-1-4 uk-margin-top">
      <h2>{{ site.title }}</h2>
    </div>

    <div class="uk-width-medium-1-4">
      <ul class="uk-list">
        <li>
        <a href="https://github.com/{{ site.github_username }}">
          <i class="uk-icon-github text-weak"></i> {{ site.github_username }}
        </a>
        </li>

        <li>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="uk-icon-twitter text-weak"></i> {{ site.twitter_username }}
        </a>
        </li>
      </ul>
    </div>

    <div class="uk-width-medium-2-4">
      <p>{{ site.description }}</p>
    </div>
  </div>
</div>
